<form name="deleteForm" (ngSubmit)="confirmInfo(pedido.id)">
    <div class="modal-header">
        <h4 class="modal-title" >Productos seleccionados</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="close()">&times;</button>
    </div>

    <div class="table-responsive">
        <table id="source" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Comentario</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>1</td>
              <td>
                <select id="field_tipo" name="producto_tipo"
                class="btn btn-info float-right"
                (change)="getProductosByName($event.target.value)"
                >
            <option selected="true" disabled="disabled">
                <span >Seleccione su Producto</span>
            </option>
            <option *ngFor="let producto of productos ;trackBy: trackId" value="{{producto.id}}">
                {{producto.nombre}}
            </option>
        </select>

              </td>
              <td><input type="text" id="comentarioProducto"></td>
              <td></td>
              <td>
                <input type="number" min="1">
            </td>
              <td>
                <button onclick="add(this)" class="btn btn-primary btn-xs">
                  Agregar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>

        <div class="table-responsive">
        <table id="target" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button id="jhi-confirm-delete-cliente" type="submit" class="btn btn-warning" (click)="confirmInfo()">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>Confirm</span>
                </button>
            </div>
            </tbody>
        </table>
    </div>
</div>
