<div>
    <h2 id="page-heading">
        <span jhiTranslate="melitBurguerApp.trabajador.home.title">Trabajadors</span>
        <button id="jh-create-entity" class="btn btn-warning float-right jh-create-entity create-trabajador" [routerLink]="['/trabajador/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="melitBurguerApp.trabajador.home.createLabel">
            Create new Trabajador
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container" *ngIf="trabajadors">
        <div class="row cols-sm=1 cols-md=2 cols-lg=2 cols-xl=2 no-gutters mb-3">
            <div class="col p-1" *ngFor="let trabajador of trabajadors ;trackBy: trackId">
                <div class="card bg-light mb-3 no-body">
                    <div class="card-header">
                        <h4 class="card-title">
                            <a [routerLink]="['/trabajador', trabajador.id, 'view' ]">{{trabajador.nombre+" "+trabajador.apellido}}</a>
                        </h4>

                        <img src="https://cdn-icons-png.flaticon.com/512/1147/1147835.png?w=826&t=st=1671123621~exp=1671124221~hmac=fe98fc03516adf8bd7f12d46e16d07780511be6f605f7515f1582200b674af29" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span jhiTranslate="melitBurguerApp.trabajador.dni">Dni</span> {{trabajador.dni}} <br>
                            <span jhiTranslate="melitBurguerApp.trabajador.telefono">Telefono</span> {{trabajador.telefono}} <br>
                            <span jhiTranslate="melitBurguerApp.trabajador.correo">Correo</span> {{trabajador.correo}}

                        </p>
                    <div class="btn-group">
                        <button type="submit"
                        class="btn btn-warning btn-sm"
                        (click)="viewModel(trabajador)">
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
                <button type="submit"
                class="btn btn-secondary btn-sm" mdbWavesEffect
                (click)="editModel(trabajador)">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span class="d-none d-md-inline " jhiTranslate="entity.action.edit">Edit</span>
            </button>
                        <button type="submit"
                                [routerLink]="['/', 'trabajador', { outlets: { popup: trabajador.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-dark btn-sm" mdbWavesEffect>
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="trabajadors && trabajadors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

