<div>
    <h2 id="page-heading">
        <span jhiTranslate="melitBurguerApp.tipoProducto.home.title" class="pageEntitiesTitle">Tipo Productos</span>
        <button id="jh-create-entity" class="btn btn-warning float-right jh-create-entity create-tipo-producto" [routerLink]="['/tipo-producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="melitBurguerApp.tipoProducto.home.createLabel">
            Create new Tipo Producto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <!--Sin Img-->
    <div class="container" *ngIf="tipoProductos">
        <div class="row cols-sm=1 cols-md=2 cols-lg=2 cols-xl=2 no-gutters mb-3">
            <div class="col p-1" *ngFor="let tipoProducto of tipoProductos ;trackBy: trackId">
                <div class="card bg-light mb-3 no-body">
                    <div class="card-header">
                        <h4 class="card-title text-uppercase">
                            <!-- <a [routerLink]="['/tipo-producto', tipoProducto.id, 'view']">{{tipoProducto.nombre}}</a> -->
                            {{tipoProducto.nombre}}
                        </h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b jhiTranslate="melitBurguerApp.tipoProducto.descripcion">Descripcion</b><br>{{tipoProducto.descripcion}}
                        </p>

                        <div class="btn-group">
                            <button type="submit"
                                    class="btn btn-warning btn-sm"
                                    (click)="viewModel(tipoProducto)">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-secondary btn-sm" mdbWavesEffect
                                    (click)="editModel(tipoProducto)">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline " jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'tipo-producto', { outlets: { popup: tipoProducto.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-dark btn-sm" mdbWavesEffect>
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tipoProductos && tipoProductos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
