<div *ngIf="tipoProductos">
    <div class="modal-header">
        <h3>{{tipoProductos.nombre}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl>
            <dt><b jhiTranslate="melitBurguerApp.tipoProducto.descripcion">Descripcion</b></dt>
            <dd><span>{{tipoProductos.descripcion}}</span></dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn btn-warning" (click)="editModel(tipoProductos)">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
