<div>
    <h2 id="page-heading">
        <span jhiTranslate="melitBurguerApp.productosPedido.home.title" class="pageEntitiesTitle">Productos Pedidos</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productosPedidos">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pedidoId"><span jhiTranslate="melitBurguerApp.productosPedido.pedido">Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productosId"><span jhiTranslate="melitBurguerApp.productosPedido.productos">Productos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productosPedido of productosPedidos ;trackBy: trackId">
                <td><a [routerLink]="['/productos-pedido', productosPedido.id, 'view' ]">{{productosPedido.id}}</a></td>
                <td>
                    <div *ngIf="productosPedido.pedidoId">
                        <a [routerLink]="['../pedido', productosPedido.pedidoId , 'view' ]" >{{productosPedido.pedidoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productosPedido.productosId">
                        <a [routerLink]="['../producto', productosPedido.productosId , 'view' ]" >{{productosPedido.productosNombre}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productosPedidos && productosPedidos.length">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
