<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pedido-heading" jhiTranslate="melitBurguerApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pedido.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="melitBurguerApp.pedido.precioFinal" for="field_precioFinal">Precio Final</label>
                    <input type="number" class="form-control" name="precioFinal" id="field_precioFinal"
                           formControlName="precioFinal" readonly/>
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="melitBurguerApp.pedido.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" hidden type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="melitBurguerApp.pedido.estadoPedido" for="field_estadoPedido">Estado Pedido</label>
                    <select class="form-control" id="field_estadoPedido" name="estadoPedido" formControlName="estadoPedidoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadoPedidoOption.id" *ngFor="let estadoPedidoOption of estadopedidos; trackBy: trackEstadoPedidoById">{{estadoPedidoOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="melitBurguerApp.pedido.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre+" "+clienteOption.apellido}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="melitBurguerApp.pedido.trabajador" for="field_trabajador">Trabajador</label>
                    <select class="form-control" id="field_trabajador" name="trabajador" formControlName="trabajadorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="trabajadorOption.id" *ngFor="let trabajadorOption of trabajadors; trackBy: trackTrabajadorById">{{trabajadorOption.id+" "+trabajadorOption.nombre+" "+trabajadorOption.apellido}}</option>

                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-dark"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-warning">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
