<div>
    <h2 id="page-heading">
        <span jhiTranslate="melitBurguerApp.pedido.home.title">Pedidos</span>
        <button id="jh-create-entity" class="btn btn-warning float-right jh-create-entity create-pedido" [routerLink]="['/pedido/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="melitBurguerApp.pedido.home.createLabel">
            Create new Pedido
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pedidos">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precioFinal"><span jhiTranslate="melitBurguerApp.pedido.precioFinal">Precio Final</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="melitBurguerApp.pedido.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estadoPedidoId"><span jhiTranslate="melitBurguerApp.pedido.estadoPedido">Estado Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clienteId"><span jhiTranslate="melitBurguerApp.pedido.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trabajadorId"><span jhiTranslate="melitBurguerApp.pedido.trabajador">Trabajador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pedido of pedidos ;trackBy: trackId">
                <td><a [routerLink]="['/pedido', pedido.id, 'view' ]">{{pedido.id}}</a></td>
                <td>{{pedido.precioFinal}}</td>
                <td>{{pedido.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="pedido.estadoPedidoId">
                        <a [routerLink]="['../estado-pedido', pedido.estadoPedidoId , 'view' ]" >{{pedido.estadoPedidoNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pedido.clienteId">
                        <a [routerLink]="['../cliente', pedido.clienteId , 'view' ]" >{{pedido.clienteNombre+" "+pedido.clienteApellido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pedido.trabajadorId">
                        <a [routerLink]="['../trabajador', pedido.trabajadorId , 'view' ]" >{{pedido.trabajadorId+" "+pedido.trabajadorNombre+" "+pedido.trabajadorApellido}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pedido', pedido.id, 'view' ]"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pedido', pedido.id, 'edit']"
                                class="btn btn-secondary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pedido', { outlets: { popup: pedido.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-dark btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pedidos && pedidos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
