<div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-header" *ngIf="productos">
      <h3><span jhiTranslate="melitBurguerApp.producto.home.title">Productos</span></h3>
      <!--select id="field_tipo" name="producto_tipo"
                class="btn btn-info float-right"
                (change)="getProductosByType($event.target.value)">
            <option selected="true" disabled="disabled">
                <span >Tipo de Producto</span>
            </option>
            <option *ngFor="let tipoProducto of tipoProductos;trackBy: trackId" value="{{tipoProducto.id}}">
                {{tipoProducto.nombre}}
            </option>
        </select-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="addProductoModal">
      <div class="container" *ngIf="productos">
        <div class="row  no-gutters mb-3" formArrayName="productoPedido">
          <div class=" col-sm-4 cols-md-4 cols-lg-4 cols-xl-4 p-1" *ngFor="let producto of this.productoPedido.controls; let i = index">
            <div class="card bg-light mb-3 no-body" id="addProductoCard" [formGroupName]="i">
              <div class="card-body text-center">
                <h6 class="card-title">
                  <label controlName="productoNombre">{{ getProductoNombre(i) }}</label>
                </h6>
                <hr class="style-two" />
                <div class="card-body d-flex flex-row justify-content-center">
                  <button type="button" class="btn btn-warning btn-lg" (click)="setNumber(i)">
                    <fa-icon [icon]="'plus'"></fa-icon>
                  </button>
                  <input type="hidden" formControlName="pedidoId" />
                  <input type="hidden" formControlName="productoId" />
                  <input type="number" formControlName="numero" class="form-control-plaintext form-control-lg text-center " disabled />
                  <button type="button" class="btn btn-dark btn-lg" (click)="delNumber(i)">
                    <fa-icon [icon]="'minus'"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">
        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>
      <button type="submit" class="btn btn-warning"><fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span> Añadir</span></button>
    </div>
  </form>
</div>
