<div *ngIf="cliente">
    <div class="modal-header">
        <h3>{{cliente.nombre+" "+cliente.apellido}}</span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <!--div class="modal-body" style="padding: 5% 35% 5%;"-->
        <dl >
            <dt><span jhiTranslate="melitBurguerApp.cliente.detail.title">Cliente</span></dt>
            <dd><span>{{cliente.id}}</span></dd>

            <dt><span jhiTranslate="melitBurguerApp.cliente.telefono">Telefono</span></dt>
            <dd><span>{{cliente.telefono}}</span></dd>

            <dt><span jhiTranslate="melitBurguerApp.cliente.correo">Correo</span></dt>
            <dd><span>{{cliente.correo}}</span></dd>

            <dt><span jhiTranslate="melitBurguerApp.cliente.puntos">Puntos</span></dt>
            <dd><span>{{cliente.puntos}}</span></dd>
        </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <!-- <button type="button" class="btn btn-warning" (click)="editModel(cliente)">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button> -->
    </div>
</div>
