<!-- <div class="row">
    <div class="col-md-6">
        <h1 id="main-change-text" jhiTranslate="home.title">Welcome<br/>to<br/>MelitBurger<br/></h1>
    </div>
    <div class="col-md-6">
        <div>
            <img  class="ml-4 rounded" src="../../content/images/main-image.jpg" alt="" width="90%" height="90%">
        </div>
    </div>
</div> -->
<div class="col justify-content-center">
    <div class="col-md-12" style="margin-bottom:4.5rem !important;">
        <h1 id="main-change-text" jhiTranslate="home.title">Welcome<br/>to<br/>MelitBurger<br/></h1>
    </div>
    <div class="col-md-12" style="margin-bottom:2.5rem !important;">
        <div class="d-flex justify-content-center"  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TRABAJADOR','ROLE_TRABAJADOR_JEFE']">
            <li class="btn btn-lg bg-dark rounded">
                <a class="text-white" routerLink="pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon icon="box-open"></fa-icon>
                    <span jhiTranslate="global.menu.entities.pedido">Pedido</span>
                </a>
            </li>
            <li class="btn btn-lg bg-dark rounded ml-2">
                <a class="text-white" routerLink="producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon icon="glass-martini"></fa-icon>
                    <span jhiTranslate="global.menu.entities.producto">Producto</span>
                </a>
            </li>
        </div>
    </div>
    <div class="col-md-12 col-sm-6 d-flex owo">
    </div>
</div>
