<div class="col justify-content-center">
    <div class="col-md-12" style="margin-bottom:4.5rem !important;">
        <h1 id="main-change-text" jhiTranslate="home.title">Welcome<br/>to<br/>MelitBurger<br/></h1>
    </div>
    <div class="col-md-12" style="margin-bottom:2.5rem !important;">
        <div class="d-flex justify-content-center"  *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TRABAJADOR','ROLE_TRABAJADOR_JEFE']">
            <li class="btn btn-lg btn-warning rounded">
                <a routerLink="pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon icon="box-open"></fa-icon>
                    <span jhiTranslate="global.menu.entities.pedido">Pedido</span>
                </a>
            </li>
            <li class="btn btn-lg btn-warning rounded ml-2">
                <a routerLink="producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon icon="glass-martini"></fa-icon>
                    <span jhiTranslate="global.menu.entities.producto">Producto</span>
                </a>
            </li>
        </div>
    </div>
    <div class="col-md-12 col-sm-6 d-flex flex-row w-50">
        <img class="rounded img-fluid w-auto mr-2" src="../../content/images/carr1.jpg" alt="image-main-1">
        <img class="rounded img-fluid w-auto" src="../../content/images/carr2.jpg" alt="image-main-2">
    </div>
</div>
