<div>
    <h2 id="page-heading">
        <span jhiTranslate="melitBurguerApp.clienteRecompensa.home.title" class="pageEntitiesTitle">Cliente Recompensas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente-recompensa" [routerLink]="['/cliente-recompensa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="melitBurguerApp.clienteRecompensa.home.createLabel">
            Create new Cliente Recompensa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="clienteRecompensas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="melitBurguerApp.clienteRecompensa.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clienteId"><span jhiTranslate="melitBurguerApp.clienteRecompensa.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recompensaId"><span jhiTranslate="melitBurguerApp.clienteRecompensa.recompensa">Recompensa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clienteRecompensa of clienteRecompensas ;trackBy: trackId">
                <td><a [routerLink]="['/cliente-recompensa', clienteRecompensa.id, 'view' ]">{{clienteRecompensa.id}}</a></td>
                <td>{{clienteRecompensa.fecha | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="clienteRecompensa.clienteId">
                        <a [routerLink]="['../cliente', clienteRecompensa.clienteId , 'view' ]" >{{clienteRecompensa.clienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clienteRecompensa.recompensaId">
                        <a [routerLink]="['../recompensa', clienteRecompensa.recompensaId , 'view' ]" >{{clienteRecompensa.recompensaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cliente-recompensa', clienteRecompensa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cliente-recompensa', clienteRecompensa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cliente-recompensa', { outlets: { popup: clienteRecompensa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clienteRecompensas && clienteRecompensas.length">
        <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div> -->
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
